/* Navbar Component */
.left-nav {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 18%;
  font-weight: 700;
}

.left-nav>h3 {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.logo {
  padding: 4%;
  padding-top: 5%;
  width: 40px;
  height: 35px;
  margin-left: 5%;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  background-image: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: white;
  justify-content: space-between;
}

.navbar>h4 {
  padding-right: 3%;
}


/* Generate Meme Component */
main{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}
.form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input {
  border: 3px solid #D5D4D8;
  border-radius: 3%;
  padding: 1rem;
  width: 35vw;
  font-weight: 600;
}

.generate-btn {
  background-image: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: white;
  padding: 1rem;
  width: 80vw;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

.generate-btn:hover{
  background-image: linear-gradient(90deg, #ac3ad5 0%, #c831ff 100%);;
}

.img-meme{
   max-width: 80vw;
   position: relative;
}


/* Text part of the memegen app */

.meme{
  position: relative;
  text-align: center;
  position: relative;
  margin-top: 5%;

}

.meme--text{
  font-size: 2rem;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  padding: 0 1rem;
  max-width: 80vw;
  left: 20vw;
  right: 20vw;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

}

.top{
  top:2rem;
}

.bottom{
  bottom: 2rem;
}